.mission-details {
    margin: 1rem;
}


.mission-details-header{
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    margin: 10px;

}

.mission-details-title{
    font-family: 'Times New Roman', Times, serif;
    font-weight: 800;
    font-size: 40px;
}